
<md-content layout-padding layout="row" layout-align="center center">
  <md-card flex>
    <div layout="column" ng-if="$ctrl.loadingStats" layout-align="center center">
      {{::$ctrl.loadingMsg}}
      <div layout="row" class="md-padding">
        <md-progress-circular md-diameter="96"></md-progress-circular>
      </div>
    </div>
    <div ng-if="!$ctrl.loadingStats">
      <div ng-repeat="i in $ctrl.numOfStatsSections"
           ng-init="metric=$ctrl.stats[2 * i]; chart=$ctrl.charts[metric.chart_name];
            nextMetric=$ctrl.stats[ 2 * i + 1]; nextChart=$ctrl.charts[nextMetric.chart_name];
            lastMetric=$ctrl.stats[ $ctrl.stats.length-1 ]"
      >
        <md-card-title ng-if="$first">
        <md-card-title-text>
          <span class="md-headline">{{ metric.raw_data }}</span>
          <span class="md-subhead">
            <b ng-if="nextMetric.display_name">{{ nextMetric.display_name }}</b>
            {{ nextMetric.raw_data }}
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="column" ng-if="!$first">

        <chart ng-if="metric.chart_name" metric="metric" chart="chart"></chart>

        <div flex ng-if="!metric.chart_name">
          <span class="md-title" ng-if="metric.display_name">{{ metric.display_name }}:</span>
          {{ $ctrl.StatsService.getRawData(metric) }}
        </div>
        <chart ng-if="nextMetric.chart_name"
            metric="nextMetric"
            chart="nextChart">
        </chart>

        <div flex ng-if="!nextMetric.chart_name">
          <span class="md-title" ng-if="nextMetric.display_name">
            {{ nextMetric.display_name }}:
          </span>
          {{ $ctrl.StatsService.getRawData(nextMetric) }}
        </div>

        <!--If we have an odd number of stats and on the last iteration we need to render one more.-->
        <div flex ng-if="$ctrl.stats.length % 2 != 0 && $last">
          <span class="md-title" ng-if="lastMetric.display_name">
            {{ lastMetric.display_name }}:
          </span>
          {{ $ctrl.StatsService.getRawData(lastMetric) }}
        </div>
      </md-card-content>
    </div>
  </md-card>
</md-content>
