
<md-content layout-padding layout="row" layout-align="center center">
  <md-card flex>
    <div layout="column" ng-if="$ctrl.loadingStats" layout-align="center center">
      {{::$ctrl.loadingMsg}}
      <div layout="row" class="md-padding">
        <md-progress-circular md-diameter="96"></md-progress-circular>
      </div>
    </div>
    <div ng-if="!$ctrl.loadingStats">
      <div ng-repeat="i in $ctrl.numOfStatsSections">
        <md-card-title ng-if="$first">
        <md-card-title-text>
          <span class="md-headline">{{ $ctrl.stats[2 * i].raw_data }}</span>
          <span class="md-subhead">
            <b ng-if="$ctrl.stats[2 * i + 1].display_name">{{ $ctrl.stats[2 * i + 1].display_name }}</b>
            {{ $ctrl.stats[2 * i + 1].raw_data }}
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="column" ng-if="!$first">
        <div flex><span class="md-title" ng-if="$ctrl.stats[(2 * i)].display_name">{{$ctrl.stats[(2 * i)].display_name}}:</span>
          {{ $ctrl.StatsService.getRawDataForChartName($ctrl.stats[(2 * i)]) }}
        </div>
        <div flex>
          <span class="md-title" ng-if="$ctrl.stats[ (2 * i + 1) ].display_name">
            {{$ctrl.stats[ (2 * i + 1) ].display_name}}:
          </span>
          {{ $ctrl.StatsService.getRawDataForChartName($ctrl.stats[ (2 * i + 1) ]) }}
        </div>

        <!--If we have an odd number of stats and on the last iteration we need to render one more.-->
        <div flex ng-if="$ctrl.stats.length % 2 != 0 && $last">
          <span class="md-title" ng-if="$ctrl.stats[$ctrl.stats.length - 1].display_name">
            {{$ctrl.stats[$ctrl.stats.length-1].display_name}}:
          </span>
          {{ $ctrl.StatsService.getRawDataForChartName($ctrl.stats.length-1) }}
        </div>
    <!--<canvas id="line" class="chart chart-line" chart-data="$ctrl.stats.prs_last_year" chart-labels="$ctrl.labels"-->
              <!--chart-click="$ctrl.onClick" chart-hover="$ctrl.onHover" chart-series="$ctrl.series" chart-options="$ctrl.options"-->
              <!--chart-dataset-override="$ctrl.datasetOverride"></canvas>-->

      </md-card-content>
    </div>
  </md-card>
</md-content>
