<div class="col-sm-12 text-center search-repo">
  <div class="col-sm-6 col-sm-offset-3 text-left">
    <form name="$ctrl.ghForm">
      <h2 class="text-center">Github Url</h2>
      <div class="row">
        <input id="github_url" ng-model="$ctrl.github_url" type="text" class="form-control" placeholder="https://github.com/jakeharding/repo-health"/>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center search-button">
          <button type="button" class="btn btn-primary" ng-click="$ctrl.getStats()">Get Statistics</button>
        </div>
      </div>
    </form>
  </div>
</div>