<div class="container">
  <md-content class="md-padding" layout-xs="column" layout="row" ng-if="$ctrl.error">
    <div flex-xs flex-gt-xs layout="column">
      <md-card md-theme="error">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Error</span>
            <span class="md-subhead">This repo does not exist</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
  </md-content>
  <div layout="column" ng-if="$ctrl.loadingRepo" layout-align="center center">
    Loading your repository... Please wait...
    <div layout="row" class="md-padding">
      <md-progress-circular md-diameter="96"></md-progress-circular>
    </div>
  </div>

  <div layout="row" layout-align="center center" ng-if="!$ctrl.loadingRepo">
    <md-content layout-padding flex-gt-md="45" flex-gt-xs="100">
      <form name="$ctrl.ghForm">
        <h2 class="text-center">Github Url</h2>
          <md-input-container md-no-float class="md-block">
            <input ng-model="$ctrl.githubUrl" type="text" placeholder="https://github.com/jakeharding/repo-health"/>
          </md-input-container>
          <div class="text-center">
            <md-button class="md-raised md-primary" ng-click="$ctrl.getStats()">Get Statistics</md-button>
          </div>
      </form>
    </md-content>
  </div>
</div>