<div layout="column" ng-if="$ctrl.loadingRepo" layout-align="center center">
  Loading your repository... Please wait...
  <div layout="row" class="md-padding">
    <md-progress-circular md-diameter="96"></md-progress-circular>
  </div>
</div>
<md-content flex layout-padding ng-if="!$ctrl.loadingRepo">
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="item in messages">
        <div class="md-list-item-text">
          <h3>{{item.what}}</h3>
          <h4>{{item.who}}</h4>
          <p>{{item.notes}}</p>
        </div>
        <md-button class="md-secondary">Respond</md-button>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
{{$ctrl.details.name}}
</md-content>
