
<md-content layout-padding layout="row" layout-align="center center">
  <md-card flex="65">
      <div layout="column" ng-if="$ctrl.loadingStats" layout-align="center center">
          {{::$ctrl.loadingMsg}}
          <div layout="row" class="md-padding">
            <md-progress-circular md-diameter="96"></md-progress-circular>
          </div>
      </div>
    <div ng-if="!$ctrl.loadingStats">
         <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{::$ctrl.stats.name}}</span>
            <span class="md-subhead">{{::$ctrl.stats.description}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column">

          <div ng-repeat="(k, v) in $ctrl.stats">
              <div layout="row">
                <div flex><span class="md-title">{{k}}</span>: {{v}}</div>
              </div>
          </div>

            <canvas id="line" class="chart chart-line" chart-data="$ctrl.stats.prs_last_year" chart-labels="$ctrl.labels"
                      chart-click="$ctrl.onClick" chart-hover="$ctrl.onHover" chart-series="$ctrl.series" chart-options="$ctrl.options"
                      chart-dataset-override="$ctrl.datasetOverride"></canvas>

        </md-card-content>
    </div>
  </md-card>
</md-content>
